.heading-wrapper{
	height:70px;
	width:100%;
	
	margin-bottom:100px;
}
.logo{
	width:145px;
	height:70px;
	float:left;
}
.title-heading{
	float:left;

	margin-left:280px;
}
.right-body-wrapper{
	width:700px;
	float:left;
	margin-left:20px;
}
.left-body-wrapper{
	width:700px;
	float:left;

}
.panel{
	overflow:auto
}
.panel-heading{
	padding: 10px 15px;
color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body{
	
}
input{
	border-radius: 5px;
	height: 30px;
	width: 170px;
}
.wrapper{
	width:1700px;
}
.body-wrapper{
	width:1500px;
	margin:auto;
}
.map-wrapper{
	width:100%;
	float:left;
}
.controller-wrapper{
	
	height:100px;
	padding:auto;
	
	margin:auto;
	
}
.black-list-wrapper{
	width:100%;
	padding-bottom:250px;
	padding-left: 50px;
	float:left;
}
.diagrams-wrapper{
	width:80%;
}
.chart-container{
	
	width:100%;
	height:380px;
	float:right;

}
.cus-map{
	width: 400px;
	height: 400px;
}
.custom-marker {
	font-size: 2em;
	padding: 10px;
	background-size:100% 100%;
	background-image:url("marker2.png");
	width:10px;
	height:20px;
}

.custom-marker:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 7px 6px 0;
	border-color: #fff transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -6px;
	bottom: -6px;
	left: 50%;
}

.custom-marker:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 7px 6px 0;
	border-color: #7F7F7F transparent;
	display: block;
	width: 0;
	z-index: 0;
	margin-left: -6px;
	bottom: -7px;
	left: 50%;
}