<!DOCTYPE html>
<html ng-app="myApp">

<head>
<title>JL1</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<script
	src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
<script src="https://code.angularjs.org/1.3.15/angular.js"></script>

<script
	src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
<script
	src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/testapp/scripts/markerclusterer.js"></script>
<script src="angular-chart.js/Chart.min.js"></script>
<script src="angular-chart.js/angular-chart.js"></script>
<script src="js/ui-bootstrap-tpls.js"></script>
<script src="js/rzslider.js"></script>
<link rel="stylesheet" href="angular-chart.js/angular-chart.css">
<link href="css/back-ground.css" rel="stylesheet" />
<link rel="stylesheet" href="css/rzslider.css" />
<script>
var app = angular.module('myApp', ['ngMap','chart.js','rzModule', 'ui.bootstrap']);

app.controller('mCtrl', function($http, $interval, NgMap,$scope) {
	//chart 1
	$scope.labels1 = ["0 Am", "1 Am", "2 Am", "3 Am","4 Am", "5 Am", "6 Am", "7 Am", "8 Am","9 Am","10 Am", "11 Am", "12 Pm", "1 Pm", "2 Pm", "3 Pm","4 Pm", "5 Pm", "6 Pm", "7 Pm", "8 Pm","9 Pm","10 Pm", "11 Pm",];
	  $scope.series1 = ['messages'];
	  $scope.data1 = [
	    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0,0,0,0,0]
	  ];
	  $scope.onClick = function (points, evt) {
	    console.log(points, evt);
	    
	  };
	  //chart2
	  $scope.labels2 = ["-","-","-","-","-","-","-"];
	  $scope.series2 = ['messages'];
	  $scope.data2 = [
	    [0, 0, 0, 0, 0, 0, 0]
	  ];
	//chart3
	
	 $scope.labels3 = ["arrogant user", "normal user"];
     $scope.data3 = [300, 900];
     $scope.type3 = 'PolarArea';
     $scope.toggle = function () {
         $scope.type3 = $scope.type3 === 'PolarArea' ?
           'Pie' : 'PolarArea';
       };
     
	  var vm = this;
	  vm.markerClusterer  = null;
	  /**20160205 start blacklist **/
	  vm.cen_pos;
	  vm.cen_pos_lat;
	  vm.cen_pos_lng;
	  
	  vm.blackListData;
	  vm.no_blacklist;
	  vm.data;
	  
	  vm.month;
	  vm.day;
	  vm.hour;
	  vm.positions = [];
	  vm.markerCollection = [];
	  
	  vm.getCenterPosition = function(){
		  vm.cen_pos = vm.map.getCenter();
		  vm.cen_pos_lat = vm.cen_pos.lat();
		  vm.cen_pos_lng = vm.cen_pos.lng();
	  }
	  
	  vm.view_all_user_info = function(){
		  vm.positions = [];
	  		vm.dynMarkers = [];
	  		vm.data = [];
	  		//data = vm.data;
		  var i = 0;
		  var j = 0;
		  for( i = 0; i < vm.blackListData.length; i++){
			  if(vm.blackListData[i].location.length > 0){
				  for(j = 0; j < vm.blackListData[i].location.length; j++)
			  		vm.data.push (vm.blackListData[i].location[j]);
			  }
		  }
		  
	  		var bounds = new google.maps.LatLngBounds();
	  		for(i = 0; i < vm.data.length; i++){
	  			var marker = new google.maps.Marker({
	                  position: new google.maps.LatLng(vm.data[i][0], vm.data[i][1]),
	                  map: vm.map,
	                  draggable: false,
	                  animation: google.maps.Animation.DROP
	              });
	  			vm.dynMarkers.push(marker);
	  			 bounds.extend(marker.getPosition());
	  		}
	  		if(vm.markerClusterer){
	  			vm.markerClusterer.clearMarkers();
	  		}
	  		//vm.markerClusterer.addMarkers(vm.map,vm.dynMarkers );
	  		var cluster = new MarkerClusterer(vm.map, vm.dynMarkers, {});
	  		vm.markerClusterer = cluster;
	  		vm.map.setCenter(bounds.getCenter());
	  		vm.map.fitBounds(bounds); 
	  		//20160218 khangcv add
	  		vm.getCenterPosition();
	  }
	  
	  vm.view_user_info = function(user){
		  vm.positions = [];
	  	  vm.dynMarkers = [];
		  vm.data = user.location;
	  		//data = vm.data;
		  var i = 0;
	  		var bounds = new google.maps.LatLngBounds();
	  		for(i = 0; i < vm.data.length; i++){
	  			var marker = new google.maps.Marker({
	                  position: new google.maps.LatLng(vm.data[i][0], vm.data[i][1]),
	                  title:"khang",
	                  map: vm.map,
	                  draggable: false,
	                  animation: google.maps.Animation.DROP
	              });
	  			//add listener for marker
	  			var infoWindow = new google.maps.InfoWindow();
	  			 google.maps.event.addListener(marker, 'click', function () {
                var markerContent = user.messages[user.messages.length - i];
                infoWindow.setContent(markerContent);
                infoWindow.open(vm.map, this);
            });
	  			
	  			
	  			vm.dynMarkers.push(marker);
	  			 bounds.extend(marker.getPosition());
	  		}
	  		if(vm.markerClusterer){
	  			vm.markerClusterer.clearMarkers();
	  		}
	  		//vm.markerClusterer.addMarkers(vm.map,vm.dynMarkers );
	  		var cluster = new MarkerClusterer(vm.map, vm.dynMarkers, {});
	  		vm.markerClusterer = cluster;
	  		vm.map.setCenter(bounds.getCenter());
	  		vm.map.fitBounds(bounds);  
	  		
	  		//20160218 khangcv add
	  		vm.getCenterPosition();
	  }
	  
	  
	  vm.get_black_list = function(){
			//vm.country = vm.country.replace(" ", "+");
		  	$http({
		  		//url:"http://localhost:8080/SVN_REPOSIBILITY_HTDOCS/SummerProject/homepage.php?f=grab",
		  		url:"DataProcessing.php",
		  		method: "POST",
		  		params:{
		  			'no_record': vm.no_blacklist
		  		}
		  		
		  	}).success(function(data,status,header,config){
		  		vm.blackListData = data;
		  		vm.blackList = [];
		  		var i = 0;
		  		for(i = 0; i < 10; i++){
		  			vm.blackList[i] = vm.blackListData[i];
		  		}
		  		 
		  	})
		  	.error(function(data,status,header,config){});
		  }
	  
	  /**end blacklist**/
	  vm.country = "United States";
	  vm.month = 2;
	  vm.day = 1;
	  vm.hour = 1;
	  vm.grabData = function(){
		vm.country = vm.country.replace(" ", "+");
	  	$http({
	  		//url:"http://localhost:8080/SVN_REPOSIBILITY_HTDOCS/SummerProject/homepage.php?f=grab",
	  		url:"homepage.php?f=grab&year=2014&month=" + vm.month + "&day="+ vm.day +"&hour=" + vm.hour +"&country=" + vm.country + "&risk=" + vm.risk,
	  		method: "GET",
	  		params:{
	  			date:''
	  		}
	  		
	  	}).success(function(data,status,header,config){
	  		$scope.data1[0]  = data["day_message"];
	  		$scope.labels2 = data["week_label"];
	  		$scope.data2[0]  = data["week_message"];
	  		//$scope.data2[0]  = data[""];
	  		//vm.test2 = data;
	  		vm.positions = [];
	  		vm.dynMarkers = [];
	  		vm.data = data["location"];
	  		//data = vm.data;
	  		var i = 0;
	  		var bounds = new google.maps.LatLngBounds();
	  		for(i = 0; i < vm.data.length; i++){
	  			var marker = new google.maps.Marker({
	                  position: new google.maps.LatLng(vm.data[i][0], vm.data[i][1]),
	                  map: vm.map,
	                  draggable: false,
	                  animation: google.maps.Animation.DROP
	              });
	  			vm.dynMarkers.push(marker);
	  			 bounds.extend(marker.getPosition());
	  		}
	  		if(vm.markerClusterer){
	  			vm.markerClusterer.clearMarkers();
	  		}
	  		//vm.markerClusterer.addMarkers(vm.map,vm.dynMarkers );
	  		var cluster = new MarkerClusterer(vm.map, vm.dynMarkers, {});
	  		vm.markerClusterer = cluster;
	  		vm.map.setCenter(bounds.getCenter());
	  		vm.map.fitBounds(bounds); 
	  		//20160218 khangcv add
	  		vm.getCenterPosition();
	  		
	  	})
	  	.error(function(data,status,header,config){});
	  }
	    vm.dynMarkers = []
	    NgMap.getMap().then(function(map) {
	    vm.map = map;
	  
	    vm.boundsChanged = function(){
	    	vm.markerCollection = [];
	    	vm.ne = this.getBounds().getNorthEast();
	        vm.sw = this.getBounds().getSouthWest();
	        var i,j;
	        var ne_lat = parseFloat(vm.ne.lat());
	        var ne_lng = parseFloat(vm.ne.lng());
	        var sw_lat = parseFloat(vm.sw.lat());
	        var sw_lng = parseFloat(vm.sw.lng());
	        for(i = 0; i < vm.data.length; i++){
	  			if((vm.data[i][0]) < ne_lat && vm.data[i][0]> sw_lat){
	  				if(parseFloat( vm.data[i][1]) > sw_lng &&  parseFloat(vm.data[i][1]) < ne_lng ){
	  					vm.markerCollection.push(vm.data[i]);	  				
	  				}	
	  			}
	  		}
	        vm.test2 = ne_lat + "" + ne_lng + "" +sw_lat + "" + sw_lng;
	        //black list on bound changed
	        vm.blackList=[];
	        var tmp_count = 0;
	        for( i = 0; i < vm.blackListData.length; i ++){
	        	if(tmp_count == 10)
	        		break;
	        	
	        	for(j = 0; j < vm.blackListData[i].location.length; j++){
		        	if(parseFloat( vm.blackListData[i].location[j][0]) < ne_lat && parseFloat( vm.blackListData[i].location[j][0])> sw_lat){
			        	if(parseFloat( vm.blackListData[i].location[j][1]) > sw_lng &&  parseFloat(vm.blackListData[i].location[j][1]) < ne_lng ){
		  					vm.blackList.push( vm.blackListData[i]);
		  					break;
		  				}
		        	}
	        	}
	        	/*
	        	
	        	if(parseFloat( vm.blackListData[i].location[0]) > ne_lat && parseFloat( vm.blackListData[i].location[0]) < sw_lat){
		        	if(parseFloat( vm.blackListData[i].location[1]) < sw_lng &&  parseFloat(vm.blackListData[i].location[1]) > ne_lng ){
	  					vm.blackList[tmp_count++] = vm.blackListData[i];	  				
	  				}
	        	}
	        	*/
	        }
	        
	        
	    }	    
     
   });
	    
  //selected area option
  vm.isSelectedArea = false;
  
  vm.recPathCoordinates = [
                              {lat: -37.82238533, lng: 145.17729459},
                              {lat: -37.42238533, lng: 145.17729459},
                              {lat: -37.42238533, lng: 145.57729459},
                              {lat: -37.82238533, lng: 145.57729459}
                            ];
  vm.rectangle  = null;
  
  vm.enableSelArea = function(){
	  if(vm.isSelectedArea == false){
		  var i;
		  for( i = 0; i < 10; i++)
		  	vm.blackList[i] = vm.blackListData[i];
		  if(vm.rectangle == null)
			  return;
		  vm.rectangle.setMap(null);
		  vm.rectangle = null;
		 return;
	  }
	 /*
	  vm.getCenterPosition = function(){
	  vm.cen_pos = vm.map.getCenter();
	  vm.cen_pos_lat = vm.cen_pos.lat();
	  vm.cen_pos_lng = vm.cen_pos.lng();
  }
  
	 */
	 vm.getCenterPosition();
	 vm.recPathCoordinates = [];
	 var tmp = {lat: vm.cen_pos_lat - 0.4, lng: vm.cen_pos_lng -0.4};
	 vm.recPathCoordinates.push(tmp);
	  tmp = {lat: vm.cen_pos_lat + 0.4, lng: vm.cen_pos_lng -0.4};
	 vm.recPathCoordinates.push(tmp);
	 tmp = {lat: vm.cen_pos_lat + 0.4, lng: vm.cen_pos_lng +0.4};
	 vm.recPathCoordinates.push(tmp);
	 tmp = {lat: vm.cen_pos_lat - 0.4, lng: vm.cen_pos_lng +0.4};
	 vm.recPathCoordinates.push(tmp);
	 
	  vm.rectangle = new google.maps.Polygon({
		    path: vm.recPathCoordinates,
		    strokeColor: '#FF0000',
		    strokeOpacity: 1.0,
		    strokeWeight: 8,
		    
		    draggable: true,
		    geodesic: true
		  });
	  google.maps.event.addListener(vm.rectangle, "dragend", function(){
		  /*
	      var vertices = vm.rectangle.getPath();
	      for (var i =0; i < vertices.getLength(); i++) {
	    	    var xy = vertices.getAt(i);
	    	    vm.test += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
	    	        xy.lng();
	    	  }
          
         */
		//black list on bound changed
			var ne_lat ;
	        var ne_lng ;
	        var sw_lat ;
	        var sw_lng ;
			var vertices = vm.rectangle.getPath();
         	var xy = vertices.getAt(0);
         	
         	sw_lng = xy.lng();
         	xy = vertices.getAt(1);
         	ne_lat = xy.lat();
         	xy = vertices.getAt(vertices.getLength() - 1);
         	sw_lat  = xy.lat();
         	
         	ne_lng = xy.lng();
	        vm.blackList=[];
	        var tmp_count = 0;
	        
	        for( i = 0; i < vm.blackListData.length; i ++){
	        	if(tmp_count == 10)
	        		break;
	        	
	        	for(j = 0; j < vm.blackListData[i].location.length; j++){
		        	if(parseFloat( vm.blackListData[i].location[j][0]) < ne_lat && parseFloat( vm.blackListData[i].location[j][0])> sw_lat){
			        	if(parseFloat( vm.blackListData[i].location[j][1]) > sw_lng &&  parseFloat(vm.blackListData[i].location[j][1]) < ne_lng ){
		  					vm.blackList.push( vm.blackListData[i]);
		  					break;
		  				}
		        	}
	        	}
	        }
          
        });
	 
  
  }
 
  $interval(function(){ vm.refresh(); }, 2000);
  vm.refresh = function () {
	 // vm.mSlider_change();
	  vm.rectangle.setMap(vm.map);
	  
  }
  
   vm.get_black_list() ;  
   //slider
   $scope.mSlider ={
		    value: 100
   };
   $scope.$watch('mSlider.value', function (val){
	   var vertices = vm.rectangle.getPath();
	      for (var i =0; i < vertices.getLength(); i++) {
	    	    var xy = vertices.getAt(i);
	    	    vm.test += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
	    	        xy.lng();
	    	  }
	     var newPath = [];
	     
	     var tmp_point = vertices.getAt(0);
	     var tmp_object = {lat: tmp_point.lat()  - val/10, lng: tmp_point.lng() -val/10}
	     newPath.push(tmp_object);
	     tmp_point = vertices.getAt(1);
	     tmp_object = {lat: tmp_point.lat() + val/10, lng: tmp_point.lng() - val/10}
	     newPath.push(tmp_object);
	     tmp_point = vertices.getAt(2);
	     tmp_object = {lat: tmp_point.lat() + val/10, lng: tmp_point.lng() + val/10}
	     newPath.push(tmp_object);
	     
	     tmp_point = vertices.getAt(3);
	     tmp_object = {lat: tmp_point.lat() - val/10, lng: tmp_point.lng() + val/10}
	     newPath.push(tmp_object);
	     
	     vm.rectangle.setPath(newPath);
	     $scope.mSlider.value = 100;
   });
   vm.mSlider_change = function(){
	   var vertices = vm.rectangle.getPath();
	      for (var i =0; i < vertices.getLength(); i++) {
	    	    var xy = vertices.getAt(i);
	    	    vm.test += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
	    	        xy.lng();
	    	  }
	     var newPath = [];
	     
	     var tmp_point = vertices.getAt(0);
	     var tmp_object = {lat: tmp_point.lat() - $scope.mSlider.value/10, lng: tmp_point.lng() - $scope.mSlider.value/10}
	     newPath.push(tmp_object);
	     tmp_point = vertices.getAt(1);
	     tmp_object = {lat: tmp_point.lat() + $scope.mSlider.value/10, lng: tmp_point.lng() - $scope.mSlider.value/10}
	     newPath.push(tmp_object);
	     tmp_point = vertices.getAt(2);
	     tmp_object = {lat: tmp_point.lat() + $scope.mSlider.value/10, lng: tmp_point.lng() + $scope.mSlider.value/10}
	     newPath.push(tmp_object);
	     
	     tmp_point = vertices.getAt(3);
	     tmp_object = {lat: tmp_point.lat() - $scope.mSlider.value/10, lng: tmp_point.lng() + $scope.mSlider.value/10}
	     newPath.push(tmp_object);
	     
	     vm.rectangle.setPath(newPath);
   }
    
   vm.friend_polygon = null;
   vm.get_network = function(user_id){
		
	  	$http({
	  		//url:"http://localhost:8080/SVN_REPOSIBILITY_HTDOCS/SummerProject/homepage.php?f=grab",
	  		url:"homepage.php?f=get_friend_network&user_id=" + user_id ,
	  		method: "GET",
	  		params:{
	  			date:''
	  		}
	  		
	  	}).success(function(data,status,header,config){
	  		
	  		
	  		vm.friend_path = [];
	  		var i = 0;
	  		var bounds = new google.maps.LatLngBounds();
	  		for(i = 0; i < data.length; i++){
	  			var tmp =   {lat: data[i][0] + 0.4, lng: data[i][1]};
	  			vm.friend_path.push(tmp);
	  			//bounds.extend(tmp);
	  		}
	  		if(vm.friend_polygon == null){
		  		 vm.friend_polygon =   new google.maps.Polygon({
		 		    path: vm.friend_path,
		 		    strokeColor: '#FF0000',
		 		    strokeOpacity: 1.0,
		 		    strokeWeight: 8,
		 		    
		 		    draggable: false,
		 		    geodesic: true
		 		  });
		  		 
		  		vm.friend_polygon.setMap(vm.map);
	  		}else{
	  			vm.friend_polygon.setMap(null);
	  			vm.friend_polygon = null;
	  		}
	  	})
	  	.error(function(data,status,header,config){});
	  }
   
});
</script>
</head>

<body ng-controller="mCtrl as vm">



	<div class="wrapper">
		<div class="heading-wrapper">
			<div class="logo">
				<img src="img/rmit.jpg" width="100%" height="100%">
			</div>
			<div class="title-heading">
				<h1>JL1 Project</h1>
			</div>
		</div>

		<div class="body-wrapper">
			<div ng-if="vm.isSelectedArea">
				<rzslider rz-slider-model="mSlider.value"></rzslider>

			</div>
			<div class="controller-wrapper">
				<div class="text-controller">
					<label>Country</label> <input type="text" ng-model="vm.country" /><label>Month</label>
					<input type="text" ng-model="vm.month" /><label>Day</label> <input
						type="text" ng-model="vm.day" /> <label>Hour</label> <input
						type="text" ng-model="vm.hour" />
					<button ng-click="vm.grabData()">search</button>
				</div>


				<div class="checkbox-controller">
					<ul>
						<li class="control-inline"><input type="checkbox"
							ng-model="vm.isSelectedArea" ng-change="vm.enableSelArea()"
							id="selected-area" /><label for="selected-area">Selected
								Area</label></li>


					</ul>

				</div>

			</div>
			<div class="left-body-wrapper">

				<!--bounds="[[-37.82238533,145.17729459],[-37.42238533,145.57729459]]"-->
				<div class="map-wrapper">
					<ng-map zoom="8" center="[-37.82238533,145.17729459]"> <custom-marker
						position="[{{p[0]}}, {{p[1]}}]" ng-repeat="p in vm.positions">
					<div class="cm"></div>
					</custom-marker> </ng-map>
				</div>
				<div class="black-list-wrapper">
					<table>
						<thead>
							<th>rank</th>
							<th>userID</th>
							<th>weight</th>
							<th>view</th>
							<th>friends</th>
						</thead>
						<tbody>
							<tr ng-repeat="item in vm.blackList track by $index">
								<td>{{$index}}</td>
								<td>{{item.id_str}}</td>
								<td>{{item.bad_words_no}}</td>
								<td><button
										ng-click="vm.view_user_info(vm.blackListData[$index])">view</button></td>
								<td><button
										ng-click="vm.get_network(item.id_str)">friends</button></td>

							</tr>
						</tbody>
					</table>
					<button ng-click="vm.view_all_user_info()">view all</button>
				</div>
			</div>
			<div class="right-body-wrapper">
				<div class="diagrams-wrapper">
					<div id="diagram1">
						<div class="panel">
							<div class="panel-heading">Typical daily messages
								({{vm.day}}/{{vm.month}}/2015)</div>
							<div class="panel-body">
								<canvas id="line" class="chart chart-line" chart-data="data1"
									chart-labels="labels1" chart-legend="true"
									chart-series="series1" chart-click="onClick"></canvas>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">Typical weekly messages from
								{{labels2[0]}} to {{labels2[6]}}</div>
							<div class="panel-body">
								<canvas id="line" class="chart chart-line" chart-data="data2"
									chart-labels="labels2" chart-legend="true"
									chart-series="series2" chart-click="onClick"></canvas>

								</canvas>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">User type distribution</div>
							<div class="panel-body">
								<canvas id="base" class="chart-polar-area" chart-type="type3"
									chart-data="data3" chart-labels="labels3" chart-legend="true"
									chart-click="">
				</canvas>
							</div>
						</div>
						<button ng-click="toggle()">click me</button>
					</div>
				</div>

			</div>


		</div>
	</div>




</body>
</html>
