<!DOCTYPE html>
<html ng-app="myApp">

<head>
<title>Dynamic ngMap demo</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script
	src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
<script src="https://code.angularjs.org/1.3.15/angular.js"></script>

<script
	src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
<script
	src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/testapp/scripts/markerclusterer.js"></script>
<script src="angular-chart.js/Chart.min.js"></script>
<script src="angular-chart.js/angular-chart.js"></script>
<link rel="stylesheet" href="angular-chart.js/angular-chart.css">

<link href="css/custom-marker.css" rel="stylesheet" />
<script>
var app = angular.module('myApp', ['ngMap','chart.js']);

app.controller('mCtrl', function($http, $interval, NgMap,$scope) {
	$scope.labels1 = ["0 Am", "1 Am", "2 Am", "3 Am","4 Am", "5 Am", "6 Am", "7 Am", "8 Am","9 Am","10 Am", "11 Am", "12 Pm", "1 Pm", "2 Pm", "3 Pm","4 Pm", "5 Pm", "6 Pm", "7 Pm", "8 Pm","9 Pm","10 Pm", "11 Pm",];
	  $scope.series1 = ['messages', 'usersss'];
	  $scope.data1 = [
	    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0,0,0,0,0],
	    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0,0,0,0,0]
	  ];
	  $scope.onClick = function (points, evt) {
	    console.log(points, evt);
	    
	  };
	  $scope.labels2 = ["-","-","-","-","-","-","-"];
	  $scope.series2 = ['messages', 'usersss'];
	  $scope.data2 = [
	    [0, 0, 0, 0, 0, 0, 0],
	    [0, 0, 0, 0, 0, 0, 0]
	  ];
	
	  var vm = this;
	  vm.markerClusterer  = null;
	  //20160205 add
	  vm.risk;
	  vm.month;
	  vm.day;
	  vm.hour;
	  vm.positions = [];
	  vm.markerCollection = [];
	  vm.grabData = function(){
		vm.country = vm.country.replace(" ", "+");
	  	$http({
	  		//url:"http://localhost:8080/SVN_REPOSIBILITY_HTDOCS/SummerProject/homepage.php?f=grab",
	  		url:"homepage.php?f=grab&year=2014&month=" + vm.month + "&day="+ vm.day +"&hour=" + vm.hour +"&country=" + vm.country + "&risk=" + vm.risk,
	  		method: "GET",
	  		params:{
	  			date:''
	  		}
	  		
	  	}).success(function(data,status,header,config){
	  		$scope.data1[0]  = data["day_message"];
	  		$scope.labels2 = data["week_label"];
	  		$scope.data2[0]  = data["week_message"];
	  		//$scope.data2[0]  = data[""];
	  		//vm.test2 = data;
	  		vm.positions = [];
	  		vm.dynMarkers = [];
	  		vm.data = data["location"];
	  		//data = vm.data;
	  		var i = 0;
	  		var bounds = new google.maps.LatLngBounds();
	  		for(i = 0; i < vm.data.length; i++){
	  			var marker = new google.maps.Marker({
	                  position: new google.maps.LatLng(vm.data[i][0], vm.data[i][1]),
	                  map: vm.map,
	                  draggable: false,
	                  animation: google.maps.Animation.DROP
	              });
	  			vm.dynMarkers.push(marker);
	  			 bounds.extend(marker.getPosition());
	  		}
	  		if(vm.markerClusterer){
	  			vm.markerClusterer.clearMarkers();
	  		}
	  		//vm.markerClusterer.addMarkers(vm.map,vm.dynMarkers );
	  		var cluster = new MarkerClusterer(vm.map, vm.dynMarkers, {});
	  		vm.markerClusterer = cluster;
	  		vm.map.setCenter(bounds.getCenter());
	  		vm.map.fitBounds(bounds); 
	  		
	  	})
	  	.error(function(data,status,header,config){});
	  }
	    vm.dynMarkers = []
	    NgMap.getMap().then(function(map) {
	    vm.map = map;
	    vm.boundsChanged = function(){
	    	vm.markerCollection = [];
	    	vm.ne = this.getBounds().getNorthEast();
	        vm.sw = this.getBounds().getSouthWest();
	        var i;
	        var ne_lat = parseFloat(vm.ne.lat());
	        var ne_lng = parseFloat(vm.ne.lng());
	        var sw_lat = parseFloat(vm.sw.lat());
	        var sw_lng = parseFloat(vm.sw.lng());
	        for(i = 0; i < vm.data.length; i++){
	  			if((vm.data[i][0]) < ne_lat && vm.data[i][0]> sw_lat){
	  				if(parseFloat( vm.data[i][1]) > sw_lng &&  parseFloat(vm.data[i][1]) < ne_lng ){
	  					vm.markerCollection.push(vm.data[i]);	  				
	  				}	
	  			}
	  		}
	    }	    
     
   });
	    
	    
});
</script>
</head>

<body ng-controller="mCtrl as vm">
	<h1>JL1 Project</h1>
	<hr />

	<div class="body-wrapper">
		<div class="map-wrapper">
			<ng-map zoom="8" center="[-37.82238533,145.17729459]""> <shape
				name="rectangle" editable="true" draggable="true"
				bounds="[[-37.82238533,145.17729459],[-37.42238533,145.57729459]]"
				on-bounds_changed="vm.boundsChanged()"> </shape> <custom-marker
				position="[{{p[0]}}, {{p[1]}}]" ng-repeat="p in vm.positions">
			<div class="cm"></div>
			</custom-marker> </ng-map>
		</div>
		<div class="black-list-wrapper">
			<br /> New north-east corner: {{vm.ne.lat()}}, {{vm.ne.lng()}} <br />
			New south-west corner: {{vm.sw.lat()}}, {{vm.sw.lng()}} <br />
			{{vm.markerCollection.length}} <br /> data collection:
			{{vm.markerCollection}}
		</div>
		<div class="controller-wrapper">
			<br /> Black list (yes/no): <input type="text" ng-model="vm.risk" />
			<br /> Country: <input type="text" ng-model="vm.country" /> <br />
			Month: <input type="text" ng-model="vm.month" /> <br /> Day: <input
				type="text" ng-model="vm.day" /> <br /> Hour: <input type="text"
				ng-model="vm.hour" /> <br />
			<button ng-click="vm.grabData()">click me</button>
		</div>
		<div class="diagrams-wrapper">
			<div id="diagram1">
				<canvas id="line" class="chart chart-line" chart-data="data1"
					chart-labels="labels1" chart-legend="true" chart-series="series1"
					chart-click="onClick"></canvas>
				<canvas id="line" class="chart chart-line" chart-data="data2"
					chart-labels="labels2" chart-legend="true" chart-series="series2"
					chart-click="onClick"></canvas>
			</div>
		</div>
	</div>


	<br />
	<br />

	<b>Rectangle moved.</b>




</body>
</html>
